<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta http-equiv="cache-control" content="max-age=21600" />
  <title>botengine.io</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,900,100,300,700italic' rel='stylesheet' type='text/css'>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>

  <header class="hero-section" style='background-color:#FFF'>
    <div class="container text-center">
      <div class="text-center clearfix">
        <span style='font-style:italic;font-family:Roboto'> botengine.io </span>
        <span style='font-weight:bold'>your</span> intentions,
        <span style='font-weight:bold'>our</span> bots.
        <br>
      </div>
    </div>
    <div class="container text-center">

      <div class="header text-center clearfix">
        <img class="img-responsive" src="../images/logo_transparent_gray.png" style="width:20vw" />
        <hr/>
      </div>
    </div>
    <div class="container text-center" >

      <h1 style='font-style:italic'>

          <span style='font-weight:bold;'>&lt;mission&gt;</span>
        to automate workflows using intentions, bots, hooks and APIs
        <span style='font-weight:bold;'>&lt;/mission&gt;</span>
      </h1>

      <h1 style='font-style:italic'>
        <span style='font-weight:bold;'>
          &lt;vision&gt;
        </span>
        <br/>
        <span style='text-decoration:underline'>your</span>
        intentions, processed through
        <span style='text-decoration:underline'>our</span>
        bots, seamlessly trigger actions in
        <span style='text-decoration:underline'>your</span>
        apps and systems.
        <br/>
        <span style='font-weight:bold;'>

          &lt;/vision&gt;
        </span>
      </h1>
    </div>
  </header>
  <section>
    ooops
  </section>


  <footer class="text-center">
    <span class="fa fa-copyright"></span> 2016. botengine.io All Rights Reserved.
  </footer>


</body>

</html>
