<div class="container grey-section" style='background-color:#EEE; border: solid 1px black' >

  <div class="row">
    <div class="col-md-12 text-center">
      <br/>
      <br/>

      <h2>faq</h2>

    </div>

  </div>


  <div class='row'>
    <div class="col-md-12">
      <h6>How do I contact you ?</h6>
      <p>
        If you are looking for a telephone number, an email address, a fax (gulp) then keep on moving, we are not the right company for you. There are plenty of dinosaurs out there looking for your business.
        <br> If you are still here, you can meet us up on twitter, or better yet, our slack channel :)
      </p>

      <h6>How much $$?</h6>
      <p>
        $9.99 per user per month.
      </p>

      <h6>Why do you charge for it? Everything else on the internet is free!</h6>
      <p>

        As someone once said, <span style="font-style:italic">"If you are not paying for the product, then you are the product!" </span> It's <span style='font-weight:bold;'>your</span> choice, choose <span style='font-weight:bold;'>wisely</span>.
        <br> Do you want the productivity of your employees in the hands of couple of kids working out of their mom's basement and not charging you anything because they think selling to google is more important than building a profitable business?
        <br> Or do you want it in the hands of a business that is selling your data to advertisers?
        <br> Or do you want it in the hands of a big business that may decide to shut things <a href='http://blog.parse.com/announcements/moving-on/'>down</a> when it is <a href='https://googleblog.blogspot.com/2013/03/a-second-spring-of-cleaning.html'>no longer convenient</a>  for their business?
        <br> We are dedicated to our users, obsessed with workflow, focused on profitability and want our employees to love the work they do.
        <br> So we charge a fair price in return for offering a lot of value.
      </p>
      <h6>How did you come up with your pricing?</h6>
      <p>
        There are roughly 20 work days in every month, give or take. We figure giving your users a jolt of productivity, happiness, better processes and a model for how things should simply work, is worth the 50 cents.
        <br> The awesomness we help them achieve the rest of the day is on the house :) you are welcome!
      </p>
      <hr/>

    </div>


  </div>

</div>
