    <div class="container" style='background-color:#EEE; border: solid 1px black' >
      <br>
      <br>
      <h5 style='font-style:italic;font-weight:bold;font-size:large'>what we do for <span style='font-weight:bolder;text-decoration:underline'>YOU!</span></h5>
      <br/>
      <br/>
      <div class="row">
        <div class="col-sm-6 text-right border-right">
          <span class="number">1.</span>
          <span class="head">
                            Integrate bots into your apps. No programming required.
                        </span>

        </div>
        <div class="col-sm-6  text-left">
          <p style='font-style:italic'>
            I got great integrations but do not want to spend time programming, setting up servers, worrying about security and scalability. I just wan to focus on my thing!
          </p>
          <p>
            <ol>
              <li>Declaratively describe the intentions you want to process</li>
              <li>Tie them into recipes for your apps</li>
              <li>Configure your access tokens for slack, Alexa, Skype, ...</li>
              <li>Sit back and enjoy the show</li>
            </ol>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 border-right text-right">
          <span class="number">2.</span>
          <span class="head">
                            Our containers, your servers.<br/>
                        </span>

        </div>
        <div class="col-sm-6  text-left">
          <p style='font-style:italic'>
            That's nice, but we do not want the convenience of a secure, scalable, platform. We want to manage security, scalability and performance on our own.
          </p>
          <p>
            That's pretty cool. We will give you containers pre-configured with our apps. You can replicate our environment on your infrastructure and host it yourself.
          </p>
        </div>

      </div>

      <div class="row">
        <div class="col-sm-6 border-right text-right">
          <span class="number">3.</span>
          <span class="head">
              For the Do-It-Yourself peep
          </span>
        </div>
        <div class="col-sm-6 text-left">
          <p style='font-style:italic'>
            I am a geek and want to code myself, I know how to setup my servers and secure them, I just want the goods to make it happen. what do you have for me?

          </p>
          <p>

            No worries. we got your back. You can download our open source bot engine, written in GO, the same bot engine we use to develop our awesome apps, and just write your own code, we'll be here to help and answer questions.
          </p>

        </div>

      </div>
      <div class="row">
        <div class="col-sm-6 border-right text-right">
          <span class="number">4.</span>
          <span class="head">Custom, custom, custom...</span>
        </div>
        <div class="col-sm-6 text-left">
          <p style='font-style:italic'>
            I got custom needs. Programming requirements, hosting requirements, need to add hooks for my apps, yada yada yada
          </p>
          <p>
            As we have spent thousands of hours building secure, scalable systems, bots, hooks and integrations we have accumulated experiences, processes, and tools we built over the years.
            <br> We are happy to put it all to work for you, whatever your needs are.
          </p>
        </div>
      </div>

    </div>
